<div id="user"
  data-users_path="<%= admin_users_path %>"
>

  <% form_with url: admin_users_path do %>
    <input type="hidden" name="user_id" value="<%= @%
  <% end %>
</div>
<%= javascript_pack_tag "users/index" %>
